<div class="search-container">
  <input type="text" [(ngModel)]="searchTerm" placeholder="Search by title" />
  <button (click)="searchPosts()">Search</button>
</div>

<h2>Count: {{posts.length}}</h2>
<table #dataTable datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of posts">
      <td>{{ post.id }}</td>
      <td>{{ post.title }}</td>
      <td>{{ post.body }}</td>
    </tr>
  </tbody>
</table>